.app{
  display: flex;
  word-wrap: normal;
  justify-content: center;
  align-items: center;
  background-color: gray;
  padding: 10%;
  padding-top: 5%;
}
.main{
  display: flex;
  flex-direction: column;
}